.navBar {
  background: #ffffff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.navBar__logo {
  margin-left: 30px;
  height: 40px;
}
.navBar__logout {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
  color: rgb(36, 53, 85);
  font-size: 1rem;
  cursor: pointer;
}
.navBar__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: -1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 600ms;
  background: rgb(36, 53, 85);
  background: linear-gradient(
    13deg,
    rgba(36, 53, 85, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  height: 80vh;
  z-index: 4;
}
.navBar__links--active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 80px;
  left: 0;
  right: 0;
  background: rgb(36, 53, 85);
  background: linear-gradient(
    13deg,
    rgba(36, 53, 85, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  background-color: #025ed9;
  transition: 600ms;
  height: 90vh;
  z-index: 4;
}
.navBar__navLink {
  color: #ffffff;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .navBar__links {
    background: #ffffff;
    position: initial;
    height: 100%;
    align-items: center;
    justify-content: end;
    right: 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navBar__navLink {
    font-size: 1rem;
    margin: 15px;
    color: #243555;
  }
}
