.collaborators__container{
  position: absolute;
  width: auto;
  display: inline;
  float: right;
  top: 0;
  right: 0;
  margin-right: 20px;
}

.board__collaborators{
  display: inline-block;
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
  width: auto;
  height: auto;
}
.collaborators__avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.collaborators__avatar:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.userName__tooltip{
  display: block;
  font-size: 10px;
  font-style: italic ;
  color: #fff;
  background-color: rgb(144, 144, 144);
  opacity: 0.6;
  text-align: center;
  visibility: hidden;
  z-index: 1;
  padding: 5px 0;
  border-radius: 10%;
  margin-top: 0;
  padding: 5px;
  width: 55px;
  transition-delay: 0.3s;
}
.boar__members{
  background-color: #EBECF0;
  color: #141D29;
  border-radius: 3px;
  margin: 0;
  opacity: 0.6;
}

.board__collaborators:hover .userName__tooltip{
  visibility: visible;
}

