.modal {
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  background-color: #000000a3;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  padding-bottom: 16px;
  top: 100px;
  width: 100%;

  &__card {
    background-color: #f4f5f7;
    border-radius: 2px;
    margin: 30px 0 80px;
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
  }

  &__header {
    margin: 12px 40px 8px 20px;
    min-height: 32px;
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  &__button {
    background-color: var(--ds-surface-raised,#f4f5f7);
    color: var(--ds-icon,#42526e);
    height: 32px;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 85ms,color 85ms;
    width: 32px;
    font-family: Helvetica Neue,sans-serif;
    font-size: 20px;
    margin-left: 300px;

    &:hover {
      background-color: var(--ds-background-neutral-hovered,#091e4240);
      color: var(--ds-icon,#42526e);
      outline: 0;
      border-radius: 50%;
    }
  }

  &__textarea {
    color: #172b4d;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 33px;
    background: #0000;
    border-radius: 3px;
    box-shadow: none;
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    min-height: 24px;
    padding: 4px 6px;
    resize: none;
    width: 80%;
    box-sizing: border-box;
    display: block;
    outline: none;
    transition-duration: 85ms;
    font-family: Helvetica Neue,sans-serif;
    border: none;
    outline: none;
    font: inherit;
    position: relative;

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }

  &__p {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    margin: 6px 8px;
    font-size: 15px;
  }

  &__article {
    clear: both;
    margin-bottom: 24px;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 16px;
    position: relative;
    margin: 12px 40px 8px 10px;
  }

  &__h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--ds-text,#172b4d);
    font-family: Helvetica Neue,sans-serif;
  }

  &__section__button {
    height: 20px  ;
  }  

  &__text {
    background: #fff;
    box-shadow: none;
    min-height: 58px;
    display: block;
    height: auto;
    resize: none;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 20px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    font-family: Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    font-weight: 400;

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }

  &__files  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    a{
      padding: 5px 10px;
      height: 100%;
      font-size: 11px;
      text-decoration: none;
      background: #E2E4E9;
      border-top-left-radius:5px ;
      border-bottom-left-radius: 5px;
      margin-bottom: 10px;
      
    }
    button {
        font-size: 11px;
        height: 25px;
        cursor: pointer;
        background-color: #a5a5a5;
        margin-left: 0;
        margin-right: 8px;
        border-top-left-radius:0px ;
        border-bottom-left-radius: 0px;
        margin-bottom: 10px;
        
    }
    button:hover{
      background-color: red;
      transition-duration: 0.4s;
    }
    
    
  }

  &__save {
    background-color: #055a8c;
    border: none;
    box-shadow: none;
    color: #fff;
    outline: 0;
    float: left;
    margin-top: 40px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      background-color: #026aa7;
      border: none;
      box-shadow: none;
      color: #fff;
    }
  }

  &__cancel {
    background-color:rgba(255, 77, 0, 0.568);
    border: none;
    box-shadow: none;
    color: #fff;
    outline: 0;
    float: left;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      background-color: #f60707;
      border: none;
      box-shadow: none;
    }
  }

  &__aside {
    margin: 12px 40px 30px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    top: 0;

    &__div {
      display: block;
      color: var(--ds-text,#172b4d);
      font-family: Helvetica Neue,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &__button {
      background-color: #091e420a;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      height: 32px;
      margin-top: 8px;
      max-width: 300px;
      overflow: hidden;
      padding: 6px 0px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      transition-duration: 85ms;
      color: var(--ds-link,#172b4d);
      width: 168px;

      &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
      }

      &:active {
        background-color: #e4f0f6;
        border: none;
        box-shadow: none;
        color: #0079bf;
        outline: 0;
      }
    }

    &__span {
      width: 20px;
    }
  }

  &__section {
    margin-bottom: 24px;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 16px;
    position: relative;
    margin: 12px 40px 8px 10px;

    &__i {
      display: inline;
      font-size: 14px;
      margin-left: 9px;
    }

    &__h3 {
      display: inline;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: var(--ds-text,#172b4d);
      font-family: Helvetica Neue,sans-serif;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    &__percen{
      margin-top: 10px;
      font-size: 12px;
      color: var(--ds-icon,#42526e);
      margin-left: 10px;
      display: flex;
      text-align: center;
    }

    &__progress {
      margin-left: 5px;
      background-color: #d8d8d8;
      border-radius: 20px;
      position: relative;
      height: 10px;
      width: 100%;
      margin-top: 5px;

      &__done {
        background: #5ba4cf;
        border-radius: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
      }
    }

    &__list {
      margin-top: 10px;
    }

    &__div {
      width: 100%;
      line-height: 20px;
      top: 0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 0 5px;

      &:hover {
        background-color: #091e420a;
      }
    }

    &__p {
      font-family: Helvetica Neue,sans-serif;
      font-size: 14px;
      flex: 1;
      min-height: 20px;
      display: flex;
      margin: 0 5px;
      align-items: center;

      &__active {
        text-decoration: line-through;
        font-family: Helvetica Neue,sans-serif;
        font-size: 14px;
        flex: 1;
        min-height: 20px;
        display: flex;
        margin: 0 5px;
        align-items: center;
      }
    }    

    &__button {
      align-items: center;
      background-color: #091e420a;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      box-sizing: border-box;
      color: #172b4d;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 14px;
      font-weight: 400;
      justify-content: center;
      line-height: 20px;
      padding: 6px 12px;
      text-decoration: none;
      transition-duration: 85ms;

      &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
      }
    }

    &__button__add {
      align-items: center;
      background-color: #091e420a;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      box-sizing: border-box;
      color: #172b4d;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 14px;
      font-weight: 400;
      justify-content: center;
      line-height: 20px;
      padding: 6px 12px;
      text-decoration: none;
      transition-duration: 85ms;

      &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
      }
    }

    &__input {
      background: #fff;
      box-shadow: none;
      display: block;
      height: 37px;
      resize: none;
      width: 100%;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      line-height: 20px;
      margin-bottom: 12px;
      outline: none;
      padding: 8px 12px;
      transition-duration: 85ms;
      font-family: Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 12px;
      font-weight: 400;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
    &__delete {
      background-color:rgba(255, 77, 0, 0.568);
      color: white;
      float: right;
      font-size: 16px;
      margin-top: 40px;
      margin-right: 40px;
      margin-bottom: 20px;
      cursor: pointer;
      padding: 8px;
      border-radius: 20px;

      &:hover {
        background-color: #f60707;
        border: none;
        box-shadow: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .modal__card {
    background-color: #f4f5f7;
    border-radius: 2px;
    margin: 30px 0 80px;
    width: 600px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
  }

  .modal__header {
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .modal__section {
    margin-bottom: 24px;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 482px;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 16px;
    position: relative;
    margin: 12px 40px 8px 48px;
  }

  .modal__article {
    clear: both;
    margin-bottom: 24px;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 482px;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 16px;
    position: relative;
    margin: 12px 40px 8px 48px;
  }

  .modal__aside {
    margin: 12px 40px 30px 70px;
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    top: 0;
  }
}
