.check {
  left: 40px;
  top: 400px;
  display: block;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  overflow: hidden;
  position: absolute;
  width: 304px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &__header {
    height: 40px;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
  }

  &__title {
    border-bottom: 1px solid var(--ds-border,#091e4221);
    box-sizing: border-box;
    color: var(--ds-text-subtle,#5e6c84);
    display: block;
    line-height: 40px;
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    font-weight: 100;
  }

  &__button {
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 10px;
    background-color: #fff;
  }

  &__main {
    max-height: 286px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
    display: block;
  }

  &__form__span {
    color: var(--ds-text-subtle,#5e6c84);
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px;
    cursor: default;
    font-family: Helvetica Neue,sans-serif;
  }

  &__input {
    margin: 4px 0 12px;
    width: 100%;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    color: var(--ds-text,#172b4d);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      background-color: #ebecf0;
      box-shadow: inset 0 0 0 2px #dfe1e6;
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }

  &__form__button {
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    transition-duration: 85ms;
    margin: 8px 4px 0 0;
    outline: none;
    width: 73.53px;

    &:active {
      background-color: #055a8c;
      border: none;
      box-shadow: none;
      color: #fff;
      outline: 0;
    }

    &:hover {
      background-color: #026aa7;
      border: none;
      box-shadow: none;
      color: #fff;
    }
  }
}

@media (min-width: 500px) {
  .check {
    left: 150px;
    top: 400px;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    position: absolute;
    width: 304px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}


@media (min-width: 768px) {
  .check {
    left: 200px;
    top: 400px;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    position: absolute;
    width: 304px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (min-width: 900px) {
  .check {
    left: 300px;
    top: 400px;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    position: absolute;
    width: 304px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (min-width: 1200px) {
  .check {
    left: 500px;
    top: 400px;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    position: absolute;
    width: 304px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}