button {
  background-color: #0079bf;
  border: none;
  border-radius: 3px;
  color: #e2dce9;
  padding: 2px 5px;
  margin-left: 3px;
}

.ToDo {
  background-color: rgb(161, 150, 150);
  height: 100vh;
}
.ToDo__columns {
  display: inline-flex;
}
.ToDo__column {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  color: #172b4d;
  background-color: transparent;
  border-radius: 3px;
  min-width: 250px;
  width: auto;
  min-height: 100px;
  height: auto;
  margin-left: 10px;
}
.ToDo__listTitle {
  margin-left: 20px;
}
.ToDo__listTitle__input {
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.ToDo__listTitle__input:hover {
  transition-duration: 0.4s;
  background-color: #e2dce9;
}

.ToDo__listTitle__input::placeholder {
  color: white;
  font-size: 20px;
}

.ToDo__cards {
  font: inherit;
  color: #172b4d;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}
.ToDo__submit {
  text-align: center;
  font: inherit;
  display: inline;
  margin-top: 10px;
  margin-right: 100px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
}
.ToDo_hr {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.ToDo__cardlist {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  text-align: left;
}
.ToDo__cardlist__item {
  border-radius: 3px;
  background-color: white;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  border: 1px solid rgb(207, 205, 205);
  cursor: pointer;
}
.ToDo__delete {
  display: flex;
  justify-content: center;
}
.ToDo__input {
  margin-right: 5px;
}
.ToDo__input__text {
  border: 0;
  border-radius: 3px;
  background-color: #f4f5f7;
}
.ToDo__input__text:hover {
  transition-duration: 0.4s;
  background-color: #e2dce9;
}
