button {
  background-color: #0079bf;
  border: none;
  border-radius: 3px;
  color: #e2dce9;
  padding: 2px 5px;
  margin-left: 3px;
}

.ToDo__column {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  color: #172b4d;
  background-color: transparent;
  border-radius: 3px;
  min-width: 250px;
  width: auto;
  min-height: 100px;
  height: auto;
  margin-left: 10px;
}
.ToDo__listTitle {
  margin-left: 20px;
}
.ToDo__listTitle__input {
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.ToDo__listTitle__input:hover {
  transition-duration: 0.4s;
  background-color: #e2dce9;
}

.ToDo__listTitle__input::placeholder {
  color: white;
  font-size: 10px;
  font-style: italic;
}

.ToDo__cards {
  font: inherit;
  color: #172b4d;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  text-decoration: none;
  text-align: left;
}
.ToDo__submit {
  text-align: center;
  font: inherit;
  display: inline;
  margin-top: 10px;
  margin-right: 100px;
  text-decoration: none;
  justify-content: center;
}
.ToDo_hr {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.ToDo__cardlist {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  text-align: left;
  height: auto;
}
.ToDo__cardlist__item {
  border-radius: 3px;
  background-color: white;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  cursor:-webkit-grab;
  height: auto;
  box-shadow:
  1.6px 1.4px 2px -6px rgba(0, 0, 0, 0.051),
  3.8px 3.5px 4.7px -6px rgba(0, 0, 0, 0.073),
  7.1px 6.5px 8.9px -6px rgba(0, 0, 0, 0.09),
  12.7px 11.6px 15.9px -6px rgba(0, 0, 0, 0.107),
  23.8px 21.7px 29.7px -6px rgba(0, 0, 0, 0.129),
  57px 52px 71px -6px rgba(0, 0, 0, 0.18)
;
}
.sortable-chosen{
  border-radius: 3px;
  background-color: rgb(196, 196, 196);
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  border: 1px solid rgb(207, 205, 205);
  cursor:grabbing;
  height: auto;
  opacity: 0.8;
  transform:  rotate(1deg);
}
.sortable-drag {
  border-radius: 3px;
  background-color: rgb(196, 196, 196);
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  border: 1px solid rgb(207, 205, 205);
  cursor:grabbing;
  height: auto;
  opacity: 0.1;
  transform:  rotate(1deg);
}
.sortable-ghost {
  border-radius: 3px;
  background-color: rgb(196, 196, 196);
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  border: 1px solid rgb(207, 205, 205);
  cursor:grabbing;
  height: auto;
  opacity: 0.5;
}
.ToDo__delete {
  display: flex;
  justify-content: center;
}

.ToDo__input__text {
  margin-right: 5px;
  border: 0;
  border-radius: 3px;
  background-color: #f4f5f7;
}

.ToDo__input__text:hover {
  transition-duration: 0.4s;
  background-color: #e2dce9;
}

.ToDo__DragImg {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: right;
}

.columns__handler{
height: 20px;
width: 20px;
cursor:-webkit-grab;
}

.ToDo__AddButton, .ToDo__DeleteButton, .ToDo__Checkbox {
  cursor: pointer;
}
