<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/5f6a4cb49b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./header_footer.css">
</head>
<body>



    <header class="header">
        <nav class="header__navigator">
            <a href="#" class="header__a">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Trello-logo-blue.svg/2560px-Trello-logo-blue.svg.png" alt="" class="header__logo">
            </a>
            <input type="checkbox" class="header__check" id="check">
            <label for="check" class="header__checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="header__ul">
                <li class="header__li"><a href="" class="header__a">Features</a></li>
                <li class="header__li"><a href="" class="header__a">Solutions</a></li>
                <li class="header__li"><a href="" class="header__a">Plans</a></li>
                <li class="header__li"><a href="" class="header__a">Pricing</a></li>
                <li class="header__li"><a href="" class="header__a">Resources</a></li>
            </ul>
        </nav>

    </header>



    <!-- <footer>
        <section>
            <p>contact us</p>
        </section>
    </footer> -->
</body>
</html>