$background: rgb(255, 255, 255);
$font: 'Gill Sans', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $background;
}
.main {
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;

  &__logo {
    margin-left: 30px;
    height: 40px;
    display: flex;
  }

  &__error {
    color: #0a0a0ac5;
    width: 80%;
    margin: 80px auto 30px auto;
    font-family: $font;
    font-size: 50px;
  }  

  &__img {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 300px;
      display: block;      
      opacity: 0.9;
    }  
  }


  &__image {
    top: 0;
    width: 300px;
    display: block;
  }

  &__p {
    color: black;
    font-family: $font;
    font-size: 18px;
  }

  &__button {
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    background-color: #0079bf;
    border-radius: 5px;
    padding: 6px 4px;
    width: 100px;
  }
}

.footer__img {
  visibility: hidden;
}

@media (min-width: 768px) {
  .main__p {
    margin: 10px auto 10px auto;
  }
  
  .footer__img {
    display: inline;
    visibility: visible;
  }
  .footer__img1 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    left: 5px;
    height: 200px;
    width: 200px;
  }
  .footer__img2 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    right: 5px;
    height: 200px;
    width: 200px;
  } 
}



@media (min-width: 1200px) {  
  .main__p {
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .footer__img1 {
    height: 350px;
    width: 350px;
  }
  .footer__img2 {
    height: 350px;
    width: 350px;
  }
}
