.resetPassword {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
}

.resetPassword__header {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.resetPassword__header__logo {
  display: block;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.resetPassword__form {
  display: block;
  padding: 10px;
  height: auto;
  max-height: 270px;
  max-width: 350px;
  text-align: center;
  background-color: #ffffff;
  padding: 25px 40px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: space-around;
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  color: #5e6c84;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.resetPassword__password {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #5e6c84;
  background-color: #f9fafc;
  font: inherit;
  border: 2px solid #dfe1e6;
  border-radius: 5px;
  box-sizing: border-box;
}

.resetPassword__password:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.resetPassword__politics__Service {
  margin: 10px;
}

.resetPassword__politics_Privacy {
  margin: 10px;
}

.resetPassword__button {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  font: inherit;
  border: none;
  background-color: #5aac44;
  border-radius: 5px;
  cursor: pointer;
}

.resetPassword__button:hover {
  transition-duration: 0.4s;
  background-color: rgb(111, 187, 90);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
  margin: 2em;
}

ul {
  text-align: center;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.resetPassword__footer__img {
  visibility: hidden;
}

.resetPassword__footer__img1 {
  position: fixed;
  bottom: 0px;
  right: 5px;
  height: 5px;
  width: 5px;
}

.resetPassword__footer__img2 {
  position: fixed;
  bottom: 0px;
  right: 5px;
  height: 5px;
  width: 5px;
}

@media (min-width: 640px) {
  .resetPassword {
    background-color: #f9fafc;
    position: relative;
    z-index: 0;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .resetPassword__form {
    display: block;
    padding: 10px;
    height: 270px;
    max-width: 350px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    justify-content: space-around;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  .resetPassword__header__logo {
    margin-bottom: 40px;
  }
  .resetPassword__footer__img {
    display: inline;
    visibility: visible;
  }
  .resetPassword__footer__img1 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    left: 5px;
    height: 200px;
    width: 200px;
  }
  .resetPassword__footer__img2 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    right: 5px;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .resetPassword__footer__img1 {
    height: 350px;
    width: 350px;
  }
  .resetPassword__footer__img2 {
    height: 350px;
    width: 350px;
  }
}
