@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
  font-family: 'Noto Sans', sans-serif;
}

.profile__section1{
  align-items: center;
  background: linear-gradient(to bottom, white, #F4F5F7);
  background-color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
}

.profile__section1__photo {
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  overflow: hidden;
  position: relative;
  width: 75px;

  img{
    height: auto;
    max-width: 100%;
  }
}

.profile__section1__name h1{
  color: #0C3953;
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
  line-height: 28px;
  margin-left: 10px;
  margin-top: 20px;
}
.profile__section2{
  background: white;
  display:block;
  margin:auto;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  h1{
      color: #172B4D;
      font-size: 24px;
      text-align: left;
    }

  h3{
    color: #172B4D;
    margin: 0;
    margin-bottom: 5px;
  }
  h4{
    color: #172B4D;
    font-size: 14px;
    margin: 0;
    margin-left: 50px;
    padding: 8px;
    text-align: left;
  }
  .input{
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
    outline: none;
    padding: 8px 12px;
    width: 70%;
  }

  .input:hover{
    background-color: #f0f1f5;
  }
}

.profile__section2 img{
  width: 100%;
}
.profile__section2__manage h1{
  color: #172B4D;
  font-size: 24px;
  text-align: center;
}

.profile__section2__about{
  border-bottom: rgb(211, 204, 204) 1px solid;
  margin: 0 10px;
}

.profile__section2__about__email{
  margin: 10px 0;
}

.email__input{
  background-color: #dbdbdb;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  box-sizing: border-box;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: auto;
  outline: none;
  padding: 8px 12px;
  width: 70%;
  cursor:not-allowed;
}

.profile__section2__about__userName{
  margin: 10px 0;
}

.profile__section2__about__name{
  margin: 10px 0;
}

.profile__section2__button{
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  margin-top: 40px;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  width: 70%;
}
.profile__section2__button:hover{
  background-color: #026AA7;
}

.profile__section__buttons{
  background-color: #F4F5F7;
  border-bottom: rgb(211, 204, 204) 1px solid;
  height: 30px;
  text-align: center;
}
.profile__section__buttons__profile {
  background-color: white;
  border-left: rgb(211, 204, 204) 1px solid;
  border-right: rgb(211, 204, 204) 1px solid;
  border-top: rgb(211, 204, 204) 1px solid;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  color:#0C3959 ;
  font-size: 15px;
  font-weight: bold;
  height: 100px;
  margin: 2px 5px -1px 2px;
  padding: 8px 20px 10px 20px;
  width: 100px;
}

.profile__section__buttons__settings {
  background-color: #C1C7D0;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  color:#0C3959 ;
  font-size: 15px;
  font-weight: bold;
  height: 100px;
  margin: 2px 2px 0px 5px;
  padding: 8px 20px 8.5px 20px;
  width: 100px;
}
.profile__section__buttons__settings:hover{
  background-color: #b2b5b8;
}

@media (min-width: 768px) {
  .profile__section1{
    align-items: center;
    background: linear-gradient(to bottom, white, #F4F5F7);
    background-color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
  }

  .profile__section1__photo {
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    overflow: hidden;
    position: relative;
    width: 75px;

    img{
      height: auto;
      max-width: 100%;
    }
  }

  .profile__section1__name h1{
    color: #0C3953;
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
    line-height: 28px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .profile__section2{
    background: white;
    display:block;
    margin:auto;
    margin-bottom: 100px;
    margin-top: 32px;
    text-align: left;
    width: 530px;
    h4{
      color: #172B4D;
      font-size: 14px;
      margin: 0;
      margin-left: 0px;
      padding: 8px;
      text-align: left;
    }
  }

  .profile__section2 img{
    margin: 18px 0.025px 42px;
    width: 100%;
  }
  .profile__section2__manage h1{
    color: #172B4D;
    font-size: 24px;
    text-align: left;
  }

  .profile__section2__about{
    border-bottom: rgb(211, 204, 204) 1px solid;
    margin: 0 10px;
    h3{
      color: #172B4D;
      margin: 0;
      margin-bottom: 5px;
      text-align: left;
    }

    input{
      background-color: #fafbfc;
      border: none;
      border-radius: 3px;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      box-sizing: border-box;
      color: #172b4d;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: auto;
      outline: none;
      padding: 8px 12px;
      width: 70%;
    }
    input:hover{
      background-color: #f0f1f5;
    }
  }

  .profile__section2__about__userName{
    margin: 10px 0;
  }
  .profile__section2__about__name{
    margin: 10px 0;
  }

  .profile__section2__button{
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    margin-left: 0px;
    margin-top: 40px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    width: 70%;

  }
  .profile__section2__button:hover{
    background-color: #026AA7;
  }

  .profile__section__buttons{
    background-color: #F4F5F7;
    border-bottom: rgb(211, 204, 204) 1px solid;
    height: 30px;
    text-align: center;
  }
  .profile__section__buttons__profile {
    background-color: white;
    border-left: rgb(211, 204, 204) 1px solid;
    border-right: rgb(211, 204, 204) 1px solid;
    border-top: rgb(211, 204, 204) 1px solid;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color:#0C3959 ;
    font-size: 15px;
    font-weight: bold;
    height: 100px;
    margin: 2px 5px -1px 2px;
    padding: 8px 20px 10px 20px;
    width: 100px;
  }

  .profile__section__buttons__settings {
    background-color: #C1C7D0;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color:#0C3959 ;
    font-size: 15px;
    font-weight: bold;
    height: 100px;
    margin: 2px 2px 0px 5px;
    padding: 8px 20px 8.5px 20px;
    width: 100px;
  }
}
