.signupForm {
  display: flexbox;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signupForm__header {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.signupForm__header__logo {
  display: block;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.signupForm__form {
  display: block;
  padding: 10px;
  height: 520px;
  max-width: 350px;
  text-align: center;
  background-color: #ffffff;
  padding: 25px 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-around;
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.signup__label {
  color: #5e6c84;
  display: flex;
  text-align: left;
  font-size: 15px;
}

h1 {
  text-align: center;
  color: #5e6c84;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.signupForm__email,
.signupForm__name,
.signupForm__userName,
.signupForm__lastName,
.signupForm__password {
  width: 100%;
  height: 44px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #5e6c84;
  background-color: #f9fafc;
  font: inherit;
  border: 1px solid #cdd2d4;
  border-radius: 5px;
  box-sizing: border-box;
}

.signupForm__email:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.signupForm__name:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.signupForm__lastName:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.signupForm__userName:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.signupForm__password:focus {
  outline: none;
  border: 1px solid rgb(15, 74, 223);
  box-shadow: 0 0 10px #719ece;
  transition-duration: 0.4s;
}

.signupForm__email::placeholder {
color: #cdd2d4;
font-style: italic;
opacity: 0.8;
}

.signupForm__name::placeholder {
  color: #cdd2d4;
  font-style: italic;
  opacity: 0.8;
}

.signupForm__lastName::placeholder {
  color: #cdd2d4;
  font-style: italic;
  opacity: 0.8;
}

.signupForm__userName::placeholder {
  color: #cdd2d4;
  font-style: italic;
  opacity: 0.8;
}

.signupForm__password::placeholder {
  color: #cdd2d4;
  font-style: italic;
  opacity: 0.8;
}

.signupForm__button {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 8%;
  font: inherit;
  border: none;
  background-color: #5aac44;
  border-radius: 5px;
  cursor: pointer;
}

.signupForm__button:hover {
  transition-duration: 0.4s;
  background-color: rgb(111, 187, 90);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
  margin: 2em;
}

a {
  color: #0052cc;
  text-decoration: none;
}

.signupForm__footer__img {
  visibility: hidden;
}

.signupForm__footer__img1 {
  position: fixed;
  bottom: 0px;
  right: 5px;
  height: 5px;
  width: 5px;
}

.signupForm__footer__img2 {
  position: fixed;
  bottom: 0px;
  right: 5px;
  height: 5px;
  width: 5px;
}

@media (min-width: 640px) {
  .signupForm {
    background-color: #f9fafc;
    position: relative;
    z-index: 0;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .signupForm__form {
    display: block;
    padding: 10px;
    height: 600px;
    max-width: 350px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  .signupForm__header__logo {
    margin-bottom: 40px;
  }
  .signupForm__footer__img {
    display: inline;
    visibility: visible;
  }
  .signupForm__footer__img1 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    left: 5px;
    height: 200px;
    width: 200px;
  }
  .signupForm__footer__img2 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    right: 5px;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .signupForm__footer__img1 {
    height: 350px;
    width: 350px;
  }
  .signupForm__footer__img2 {
    height: 350px;
    width: 350px;
  }
}
