// UI settings
@import './config.scss';
//Components
@import './components/NavBar';
@import './components/Footer';
@import './components/createBoard.scss';
@import './components/backgroundBoard.scss';
@import './components/ToDoCards.scss';
@import './components/BurgerButton';
@import './components//modalCard.scss';
@import './components/modalAddFiles.scss';
@import './components/modalChangeProfile.scss';
@import './components/modalChangeColorBoard.scss';
@import './components/deleteAccountModal.scss';
@import './components/deleteBoardModal.scss';
@import './components/deleteColumnModal.scss';
@import './components/addCollaboratorsModal.scss';
@import './components/collaborators.scss';
@import './components/modalChangePassword.scss';

//Pages
@import './pages/home.scss';
@import './pages/login.scss';
@import './pages/signup.scss';
@import './pages/signupForm.scss';
@import './pages/mainboard.scss';
@import './pages/manageBoard.scss';
@import './pages/notFound.scss';
@import './pages/notFound.scss';
@import './pages/activateAccount.scss';
@import './pages/forgotPassword.scss';
@import './pages/profile.scss';
@import './pages/profileSettings.scss';
@import './pages/passwordChange.scss'
