// UI settings
@import './config.scss';
//Components
@import './components/NavBar';
@import './components/Footer';
@import './components/createBoard.scss';
@import './components/backgroundBoard.scss';
@import './components/ToDoCards.scss';

//Pages
@import './pages/home.scss';
@import './pages/login.scss';
@import './pages/signup.scss';
@import './pages/mainboard.scss';
@import './pages/manageBoard.scss';
@import './pages/notFound.scss';
